/*Buttons*/

/*button*/

/*button--primary*/

.button {
    position: relative;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    cursor: url("images/content/cursor-2.png") 32 32, auto;
}

.button--primary {
    color: var(--white, #FFFFFF);
    background-image: url("../../images/content/button-red.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 192px;
    height: 64px;
    background-color: transparent;
    border: none;
    transition: transform var(--transition, .25s ease-in-out);
}

.button--primary__span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: var(--text-sub, 1.5625rem);
}

.button--primary:hover {
    transform: scale(1.05);
}

/*button--secondary*/

.button--secondary {
    color: var(--white, #FFFFFF);
    width: 135px;
    height: 135px;
    font-size: var(--text-sub, 1.5625rem);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    transition: transform var(--transition, .25s ease-in-out);
}

.button--secondary--brown__span, .button--secondary--blue__span {
    position: absolute;
    left: 50%;
    top: 57.5%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    pointer-events: none;
}

.button--secondary:hover {
    transform: scale(1.05);
}

.button--secondary img {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    transition: height var(--transition, .25s ease-in-out);
    height: 50%;
}

.button--secondary:hover img {
    height: 40%;
}

.button--secondary--brown {
    background-image: url("../../images/content/button-yellow.png");
}

.button--secondary--blue {
    background-image: url("../../images/content/button-blue.png");
}

/*Resources*/

.resource {
    position: relative;
    display: flex;
    justify-content: end;
    border: 5px solid var(--black, #000000);
    background-color: #BFBFBF;
    border-radius: .25rem;
    height: fit-content;
}

.resource__amount {
    font-size: var(--text-sub, 1.5625rem);
    margin: 0;
    color: var(--white, #FFFFFF);
    margin-left: 2rem;
}

.resource figure {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    margin-right: .25rem;
    top: 50%;
    transform: translateY(-50%);
    width: 22.5%;
}

.town-hall-level {
    width: 70px;
    height: 70px;
    font-size: var(--text-title, 2.4375rem);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../images/content/button-blue.png");
    background-color: transparent;
    border: none;
}

.town-hall-level__span {

}

.town-hall-level-span__number {

}