/*Buttons*/

/*button*/

/*button--primary*/

.button {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.button--primary {
    display: inline-block;
    padding: .75rem 2.75rem;
    color: var(--dark-brown, #805953);
    background-color: var(--brown, #D09862);
    outline: 3px solid var(--dark-brown, #805953);
    border: 3px solid var(--dark-brown-accent, #805953);
    transition: background-color var(--transition), color var(--transition);
}

.button--primary:hover {
    background-color: var(--dark-brown-accent, #805953);
    color: var(--white, #FFFFFF);
}

/*button--secondary*/

.button--secondary {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--white, #FFFFFF);
    width: 135px;
    height: 135px;
    border: 5px solid var(--black, #000000);
    border-radius: 1.25rem;
    justify-content: center;
    align-items: center;
    font-size: var(--text-sub, 1.5625rem);
    transition: transform var(--transition, .25s ease-in-out);
}

.button--secondary:hover {
    transform: scale(1.05);
}

.button--secondary img {
    transition: transform var(--transition, .25s ease-in-out);
    width: 70%;
}

.button--secondary:hover img {
    transform: scale(.9);
}

.button--secondary--brown {
    background-color: var(--gray-brown, #9B7260);
}

.button--secondary--blue {
    background-color: var(--blue, #4795A7);
}

/*Resources*/

.resource {
    position: relative;
    display: flex;
    justify-content: end;
    border: 5px solid var(--black, #000000);
    background-color: #BFBFBF;
    border-radius: .25rem;
    height: fit-content;
}

.resource__amount {
    font-size: var(--text-sub, 1.5625rem);
    margin: 0;
    color: var(--white, #FFFFFF);
    margin-left: 2rem;
}

.resource figure {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    margin-right: .25rem;
    top: 50%;
    transform: translateY(-50%);
    width: 22.5%;
}