/*Buttons*/

/*button*/

/*button--primary*/

.button {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.button--primary {
    display: inline-block;
    padding: .75rem 2.75rem;
    color: var(--dark-brown, #805953);
    background-color: var(--brown, #D09862);
    outline: 3px solid var(--dark-brown, #805953);
    border: 3px solid var(--dark-brown-accent, #805953);
    transition: var(--transition, .25s ease-in-out);
}

.button--primary:hover {
    background-color: var(--dark-brown-accent, #805953);
    color: var(--white, #FFFFFF);
}

/*button--secondary*/

.button--secondary {
    margin-left: 10rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--white, #FFFFFF);
    width: 180px;
    height: 180px;
    border: 5px solid var(--black, #000000);
    border-radius: 1.25rem;
    justify-content: center;
    align-items: center;
    font-size: var(--text-sub, 1.5625rem);
}

.button--secondary--brown {
    background-color: var(--gray-brown, #9B7260);
}

.button--secondary--blue {
    background-color: var(--blue, #4795A7);
}