/*Buttons*/

/*button*/

/*button--primary*/

.button {
    position: relative;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    cursor: url("images/content/cursor-2.png") 32 32, auto;
}

.button--primary {
    color: var(--white, #FFFFFF);
    background-image: url("../../images/content/button-red.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 192px;
    height: 64px;
    background-color: transparent;
    border: none;
    transition: transform var(--transition, .25s ease-in-out);
}

.button--primary__span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: var(--text-sub, 1.5625rem);
}

.button--primary:hover {
    transform: scale(1.05);
}

/*button--secondary*/

.button--secondary {
    color: var(--white, #FFFFFF);
    width: 135px;
    height: 135px;
    font-size: var(--text-sub, 1.5625rem);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    transition: transform var(--transition, .25s ease-in-out);
}

.button--secondary--brown__span, .button--secondary--blue__span {
    position: absolute;
    left: 50%;
    top: 57.5%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    pointer-events: none;
}

.button--secondary:hover {
    transform: scale(1.05);
}

.button--secondary img {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    transition: height var(--transition, .25s ease-in-out);
    height: 50%;
}

.button--secondary:hover img {
    height: 40%;
}

.button--secondary--brown {
    background-image: url("../../images/content/button-yellow.png");
}

.button--secondary--blue {
    background-image: url("../../images/content/button-blue.png");
}

/*Resources*/

.resource {
    position: relative;
    display: flex;
    justify-content: end;
    border: 5px solid var(--black, #000000);
    background-color: #BFBFBF;
    border-radius: .25rem;
    height: fit-content;
}

.resource__amount {
    font-size: var(--text-sub, 1.5625rem);
    margin: 0;
    color: var(--white, #FFFFFF);
    margin-left: 2rem;
}

.resource figure {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    margin-right: .25rem;
    top: 50%;
    transform: translateY(-50%);
    width: 22.5%;
}

.town-hall-level {
    width: 85px;
    height: 85px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../images/content/button-blue.png");
    background-color: transparent;
    border: none;
}

.town-hall-level__span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.town-hall-level-span__number {
    margin: 0;
    color: var(--white, #FFFFFF);
    -webkit-text-stroke: .5px black;
    font-size: var(--text-title, 2.4375rem);
}

.rounded-star-8 {
  position: relative;
  width: 38px;
  height: 38px;
  color: var(--white, #FFFFFF);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(3.5px 0 0 #000000) drop-shadow(-3px 0 0 #000000) drop-shadow(0 3.5px 0 #000000) drop-shadow(0 -3px 0 #000000);
}

.rounded-star-8::before,
.rounded-star-8::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cyan, #8BD8C8);
  border-radius: 4px;
  z-index: -1;
}

.rounded-star-8::before {
  transform: rotate(0deg);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
}

.rounded-star-8::after {
  transform: rotate(45deg);
}

/*Item*/

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: fit-content;
}

.item__figure {
    width: 70px;
}

.item__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.item__info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.item__info-content {
    font-size: var(--text-title, 2.4375rem);
    margin: 0;
}

.item__info-sheep {
    width: 53px;
}

/*Shop*/

.shop {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../images/content/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    gap: 1.25rem;
    padding: 4.5rem 4.5rem;
    padding-bottom: 8rem;
    width: fit-content;
}

.shop__close {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-80%, 80%);
}

.shop__title {
    font-size: var(--text-heading, 3.125rem);
    text-align: center;
    color: var(--dark-brown, #6B4742);
    margin: 0;
}

/*Close button*/

.close {
    position: relative;
    width: 32px;
    height: 32px;
    padding: 1rem;
    cursor: url("images/content/cursor-2.png") 32 32, auto;
}

.close:hover span {
    background-color: var(--green, #455A4B);
}

.close span {
    position: absolute;
    height: 4px;
    background-color: var(--dark-brown, #6B4742);
    left: 0;
    width: 32px;
    top: 50%;
    margin-top: -1rem;
    margin-left: 1rem;
    transition: background-color var(--transition, .25s ease-in-out);
}

.close span:nth-child(1) {
    rotate: 45deg;
}
  
.close span:nth-child(2) {
    rotate: -45deg;
}

/*Swiper*/

.swiper-primary {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.swiper-primary__viewport {
    overflow: hidden;
}

.swiper-primary__viewport-list {
    display: flex;
    gap: 1.5rem;
}

.swiper-primary__viewport-list-item {
    flex-shrink: 0;
    flex-basis: 32.5%;
    list-style: none;
}

.swiper-primary__buttons {
    position: absolute;
    display: flex;
    gap: 1rem;
    bottom: 0;
    right: 0;
    margin-bottom: 2.5rem;
}

.swiper-primary__button {
    color: var(--blue, #4795A7);
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-radius: 5px;
    background-color: transparent;
    transition: color var(--transition, .25s ease-in-out), border-color var(--transition, .25s ease-in-out);
}

.swiper-primary__button:hover {
    color: var(--red, #FF0000);
    border-color: var(--red, #FF0000);
}