.page {
    position: relative;
    overflow: hidden;
}

.page__resources-area {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    margin-right: 2.5rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.25rem;
}

.page__resources-area li {
    list-style: none;
}

.page__buttons-area {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin-right: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.page__townhall-level {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
}