@import url(https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap);

/*Others - resets*/

figure, ul {
    margin: 0;
    padding: 0;
}

li:has(.button) {
    list-style: none;
}